grant {
	permission java.net.SocketPermission "*:1024-65535", "connect,accept,resolve,listen";
	permission java.net.SocketPermission "*:80", "connect,accept";
	permission java.io.FilePermission "UserInfo.txt", "read,write";
	permission java.io.FilePermission "OnlineUser.txt", "read,write";
	permission java.util.PropertyPermission "*", "read,write";
};
